.DS_Store
node_modules/
www/*
public/uploads/banner/*
public/uploads/category/*
public/wangeditor/html/*
public/wangeditor/img/*
tempDir/*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
